/*RESET*/

html, body, div, h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;  
  background-color: #19A1AE;
  overflow: hidden;
}


img {
  max-width: 100%;
}


/*END RESET*/



.top {
  position: absolute;
  left: -100px;
  top: -470px;
  z-index: -1;
}


.botton {
  position: absolute;
  right: -150px ;
  bottom: -290px;
  z-index: -1;
}


@media (max-width: 739px) {

  .top {
    position: absolute;
    left: -300px;
    top: -470px;
    z-index: -1;
  }
  .botton {
    position: absolute;
    right: -800px;
    bottom: -400px;
    z-index: -1;
  }
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-card {
  width: 350px;
  height: 374px;
  border-top: 1px solid #2BB7BE;
  border-bottom: 1px solid #E2EFF1;
  border-left: 1px solid #71BDC5;
  border-right: 1px solid #71BDC5;
  margin: 173px auto 169px auto;
  border-radius: 5%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 739px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .container-card {
    max-width: 326px;
  }
}


.upper-img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}


.victor-img {
  border-radius: 50%;
  margin: 0 auto;
  top: -58px;
  position: relative;
  border: 5px solid #ffffff;
}


.name-position {
  display: flex;
  /*align-content: space-around;
  //align-items: flex-end;*/
  margin-top: -35px;
}  

.name {
  font-size: 18px;
  color: #2E3349;
  margin-bottom: 10px;
}


.age {
  color: #6B7082;
  font-size: 18px;
  font-weight: 400;
  padding-left: 4px;
}


.city {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #6B7082;
  
}

.line {
  width: 350px;
  border: 1px solid  #E8E9EC;
}


@media (max-width: 739px) {
  
  .line {
    width: 326px;
  }
}



.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
  margin-top: 25px;
}

.follow h1 {
  font-size: 18px;
  color: #2E3349;
  margin-left: 60px;
  
}

.like h1 {
  font-size: 18px;
  color: #2E3349;
  text-align: center;
  margin-left: -15px
}

.photo h1 {
  font-size: 18px;
  color: #2E3349;
  margin-right: 56px;
}

.follow p {
  font-size: 10px;
  color: #6B7082;
  margin-left: 50px;
  margin-top: 7px;
  letter-spacing: 1.5px;
}


.like p {
  font-size: 10px;
  color: #6B7082;
  margin-top: 7px;
  margin-left: -10px;
  letter-spacing: 1.5px;
}


.photo p {
  font-size: 10px;
  color: #6B7082;
  margin-top: 7px;
  letter-spacing: 1.5px;
}

